:root {
    font-size: 16px;
}

body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "header header"
        "accomodations populary"
        "activities activities"
        "footer footer";
}

h3 {
    font-size: 1rem;
    color: black;
}

p, a {
    font-size: 0.9rem
}

header ul {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    grid-template-areas:
        "logo nav-accomodations nav-activities nav-register";

}

#logo {
    top: 25px;
    left: 15px;
}

.nav-accomodations{
    border-top: none;
    border-bottom: none;
}

.nav-accomodations a:hover{
    border-top: 2px solid #0065fc;
    border-bottom: none;
    margin-top: -2px;
}

.nav-register{
    border-bottom: none;

}

.nav-register a, .nav-accomodations a, .nav-activities a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-activities a{
    margin-top: 5px;
}

.nav-activities{
    border-top: none;
    border-bottom: none;
}

.nav-activities a:hover{
    border-top: 2px solid rgba(140, 137, 137, 0.47);
    border-bottom: none;
    margin-top: 4px;

}

.nav-register{
    border-top: none;
    border-bottom: none;
    margin-top: 5px;
}

.nav-register a:hover{
    border-top: 2px solid #0065fc;
    border-bottom: none;
    margin-top: -2px;
}

input {
    width: 25%;
}

.lookingfor {
    display: block;
}

#search {
    display: none;
}

.searching > button {
    width: auto;
    border-radius: 0 13px 13px 0;
}

.filters {
    display: inline-block;
    padding-right: 15px;
}

#accomodations {
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:
                "acco-header acco-header acco-header"
                "cannebiere dockhotel seagull";
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-right: 15px;
}

#accomodations figure {
    height:200px;
}

#accomodations figcaption{
    height: 100%;
}

#accomodations img{
    height: 55%;
    object-fit: cover;
}

#populary {
    grid-template-columns: 1fr;
    grid-template-areas:
                "pop-header"
                "morningsun"
                "waterheart"
                "whiteandblue";
    border-radius: 15px;
    margin-left: 15px;
    padding-bottom: 30px;
    grid-gap: 20px;
}

#populary figure {
    height: 140px;
}

.whiteandblue{
    grid-area: whiteandblue;
}

#whiteandblue{
    flex-direction: row;
}

#whiteandblue > img{
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

#whiteandblue > figcaption{
    width: 60%;
    height: 100%;
}

#activities {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 180px 20px 180px;
    grid-template-areas:
    "acti acti acti acti"
    "acti1 acti2 acti4 acti5"
    "acti1 acti2 acti4 acti6"
    "acti1 acti3 acti4 acti6";
    grid-gap: 30px ;
}

#activities figure {
    height: 100%;
}

.acti {
    grid-area: acti;
}

.acti1 {
    grid-area: acti1;
}

.acti2 {
    grid-area: acti2;
}

.acti3 {
    grid-area: acti3;
}

.acti4 {
    grid-area: acti4;
}

.acti5 {
    grid-area: acti5;
}

.acti6 {
    grid-area: acti6;
}

.footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
                "title1 title2 title3"
                "conditions quality support"
                "conditions quality support"
                "conditions quality support";
    grid-gap: 20px;
    padding: 35px;
    text-align: left;
}

.title1 {
    grid-area: title1;
}

.title2 {
    grid-area: title2;
}

.title3 {
    grid-area: title3;
}

.conditions {
    grid-area: conditions;
}

.quality {
    grid-area: quality;
}

.support {
    grid-area: support;
}