:root {
    font-size: 10px; /* 1 rem = 10 px */
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
    padding: 10px;
}

h3 {
    font-size: 1.3rem
}

p, a {
    font-size: 1rem;
}


@font-face {
    font-family: "Cantarell";
    src: url(polices_p2/cantarell_regular_macroman/Cantarell-Regular-webfont.eot);
    src: url(polices_p2/cantarell_regular_macroman/Cantarell-Regular-webfont.svg);
    src: url(polices_p2/cantarell_regular_macroman/Cantarell-Regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: "Cantarell", serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "populary"
        "accomodations"
        "activities"
        "footer";
}

.header {
    grid-area: header;
}

.header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.accomodations {
    grid-area: accomodations;
    padding: 20px;
    grid-gap: 10px;
    width: auto;
    height: auto;
}

.accomodations figure{
    margin: 10px;
}

.populary {
    grid-area: populary;
    padding: 20px;
    grid-gap: 10px;
    width: auto;
    height: auto;
}

.populary header{
    display: flex;
    justify-content: space-between;
}

.populary figure{
    margin: 10px;
    display: flex;
}

.activities {
    grid-area: activities;
    padding: 20px;
    grid-gap: 10px;
    width: auto;
    height: auto;
}

.activities figure{
    margin: 10px;
}

.footer {
    display: grid;
    grid-area: footer;
    padding: 20px;
}


/*
@media screen and (max-width: 800px){
}
.populary figure{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.activities figure {
    padding: 20px;
    height: 100%;
}

.accomodations figure {
    padding: 20px;
    height: 100%;
}

*/
